{% extends 'base.html' %}

{% block page_title %}Enter new password{% endblock %}

{% block page_heading %}Enter new password{% endblock %}

{% block content %}

<p>BARRY</p>

<form method="POST">
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

    {% csrf_token %}
    
    {% for password in passwords %}
    
    {{ form.password}}

    <p>
        <label for="id_email">{{ password.password1 }}</label> 
        <label for="id_email">{{ password.password2 }}</label>
        <button>Change my Password</button>
    </p>
    
    {% endfor %}
    
</form>

{% endblock %}